{{> _header}}
    <div style="width: 1px; height: 1px;" class="mx-auto" data-intro="Bem vindo! Esse é um guia rápido que irá ajudar você a se familiarizar com a ferramenta. Aqui será apresentado a página principal dela, onde os dados mais importantes estão."></div>
    <main role="main" class="container-fluid">

        {{> _mensagens}}

        {{#unless dados.stats.num_usuarios_totais }}
            <p>A chave SDK para realizar a integração com o app é: <strong>{{ appID }}</strong>.</p>
            <p>Integre o SDK no seu app e atualize essa página quando tiver usado pelo menos uma vez seu app para ver os dados.</p>
        {{else}}
            <nav class="nav nav-pills nav-fill justify-content-around mt-5" data-intro="Nesses botões você consegue navegar pelas páginas da ferramenta.">
                <a class="nav-link active" href="/dashboard">Dados gerais</a>
                <a class="nav-link" href="/dashboard/crashes">Travamentos</a>
                <a class="nav-link" href="/dashboard/usuarios">Usuarios</a>
            </nav>

            <hr>

            <div class="row justify-content-between" data-intro="Aqui é mostrado um slide com métricas importantes, como totais e médias, para avaliar o desempenho do seu app.">
                <div class="col-md-12">
                    <ul class="stats-slider">
                        <li>
                            <div class="shadow bg-white border rounded stats-box text-center">
                                <p>Total usuários</p>
                                <p><strong>{{ dados.stats.num_usuarios_totais }}</strong></p>
                            </div>
                        </li>
                        <li>
                            <div class="shadow bg-white border rounded stats-box text-center">
                                <p>Tempo médio de sessão</p>
                                <p><strong>{{ dados.stats.media_sessao }}s</strong></p>
                            </div>
                        </li>
                        <li>
                            <div class="shadow bg-white border rounded stats-box text-center">
                                <p>Total monetário ganho</p>
                                <p><strong>R$ {{ dados.stats.total_gasto }}</strong></p>
                            </div>
                        </li>
                        <li>
                            <div class="shadow bg-white border rounded stats-box text-center">
                                <p>Total de travamentos</p>
                                <p><strong>{{ dados.stats.num_crashes }}</strong></p>
                            </div>
                        </li>
                        <li>
                            <div class="shadow bg-white border rounded stats-box text-center">
                                <p>Total de sessões</p>
                                <p><strong>{{ dados.stats.num_total_sessoes }}</strong></p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            
            <div class="row justify-content-around">
                <div class="shadow bg-white border rounded col-md-3 stats-box" data-intro="Aqui são mostrado dados sobre os usuários que utilizam o app.">
                    <p>Usuários ativos nas ultimas 24h <strong>{{ dados.stats.num_usuarios_dia }}</strong></p>
                    <div class="progress">
                        <div class="progress-bar" style="width: {{ dados.porcentagens.num_usuarios_dia }}%" role="progressbar" aria-valuenow="{{ dados.stats.num_usuarios_dia }}" aria-valuemin="0" aria-valuemax="{{ dados.stats.num_usuarios_totais }}"></div>
                    </div>
                    <p>Usuários ativos na última semana <strong>{{ dados.stats.num_usuarios_semana }}</strong></p>
                    <div class="progress">
                        <div class="progress-bar" style="width: {{ dados.porcentagens.num_usuarios_semana }}%" role="progressbar" aria-valuenow="{{ dados.stats.num_usuarios_semana }}" aria-valuemin="0" aria-valuemax="{{ dados.stats.num_usuarios_totais }}"></div>
                    </div>
                    <p>Usuários ativos no último mês <strong>{{ dados.stats.num_usuarios_mes }}</strong></p>
                    <div class="progress">
                        <div class="progress-bar" style="width: {{ dados.porcentagens.num_usuarios_mes }}%" role="progressbar" aria-valuenow="{{ dados.stats.num_usuarios_mes }}" aria-valuemin="0" aria-valuemax="{{ dados.stats.num_usuarios_totais }}"></div>
                    </div>
                    <p>Usuários ativos no último ano <strong>{{ dados.stats.num_usuarios_ano }}</strong></p>
                    <div class="progress">
                        <div class="progress-bar" style="width: {{ dados.porcentagens.num_usuarios_ano }}%" role="progressbar" aria-valuenow="{{ dados.stats.num_usuarios_ano }}" aria-valuemin="0" aria-valuemax="{{ dados.stats.num_usuarios_totais }}"></div>
                    </div>
                    <p>Total de usuários masculinos <strong>{{ dados.stats.num_usuarios_masculinos }}</strong></p>
                    <div class="progress">
                        <div class="progress-bar" style="width: {{ dados.porcentagens.num_usuarios_masculinos }}%" role="progressbar" aria-valuenow="{{ dados.stats.num_usuarios_masculinos }}" aria-valuemin="0" aria-valuemax="{{ dados.stats.num_usuarios_totais }}"></div>
                    </div>
                    <p>Total de usuários femininos <strong>{{ dados.stats.num_usuarios_femininos }}</strong></p>
                    <div class="progress">
                        <div class="progress-bar" style="width: {{ dados.porcentagens.num_usuarios_femininos }}%" role="progressbar" aria-valuenow="{{ dados.stats.num_usuarios_femininos }}" aria-valuemin="0" aria-valuemax="{{ dados.stats.num_usuarios_totais }}"></div>
                    </div>
                </div>

                <div class="col-md-4 shadow bg-white border rounded stats-box" data-intro="Este é um dos vários gráficos que a ferramenta fornece. Os gráficos são iterativos se passar o mouse em cima ou clicar, fornecendo um detalhamento maior. No canto superior esquerdo dos gráficos tem um circulo piscando, clique nele para obter mais informações sobre o gráfico. No canto superior direito tem um menu que fornece opções para salvar as informações apresentadas.">
                    <div id="pieResolucoes" style="width:100%; height:300px;" data-hint="Gráfico de pizza que mostra a quantidade de usuários por resolução da tela do dispositivo que utiliza o app. Dado que pode ser importante para você ter ideia de como seus usuários estão realmente visualizando seu app."></div>
                </div>

                <div class="col-md-4 shadow bg-white border rounded stats-box">
                    <div id="pieViewsAcessos" style="width:100%; height:300px;" data-hint="Gráfico de pizza que mostrada a quantidade de acessos em cada tela do seu app (são considerados múltiplos acessos por usuário). Com isso você pode analisar qual da suas páginas estão recebendo menos ou mais atenção."></div>
                </div>

                <div class="shadow bg-white border rounded col-md-3 stats-box" data-scrollTo="tooltip" data-intro="Aqui são mostrado alguns dados que detalham o uso pelos usuários e dados monetários (se existirem).">
                    <p>Tempo total de uso do app em segundos <strong>{{ dados.stats.tempo_total_sessoes }}s</strong></p>
                    <p>Tempo médio de uso do app por usuário <strong>{{ dados.stats.media_tempo_total }}s</strong></p>
                    <p>Desvio padrão do tempo total de uso do app <strong>{{ dados.stats.desvio_tempo_total }}s</strong></p>
                    <p>Média de gastos por usuários <strong>R$ {{ dados.stats.media_gasto_total }}</strong></p>
                    <p>Desvio padrão de gastos por usuários <strong>R$ {{ dados.stats.desvio_gasto_total }}</strong></p>
                </div>

                <div class="col-md-7 shadow bg-white border rounded stats-box">
                    <div id="colIdades" style="width:100%; height:400px;" data-hint="Gráfico de barras que mostra a quantidade de usuários por idade para poder conhecer melhor seus usuários"></div>
                </div>

                <div class="col-md-{{#if (is_equal usuarioLogado.nivel 'Avançado') }}6{{else}}11{{/if}} shadow bg-white border rounded stats-box">
                    <div id="chartUsuarios" style="width:100%; height:400px;" data-hint="Gráfico de linhas que mostra a quantidade de usuários que foram visto pela primeira vez e pela última vez nos meses. Os marcados como primeira vez se referenciam à usuários novos, enquanto os pela última vez podem ser usuários que desinstalaram o app ou só deram uma pausa, geralmente possível diferenciar analisando a quantidade de meses inativos."></div>
                    
                </div>

                {{#if (is_equal usuarioLogado.nivel 'Avançado') }}
                    <div class="col-md-4 shadow bg-white border rounded stats-box">
                        <div id="histTempoSessao" style="width:100%; height:400px;" data-hint="Histograma que mostra por meio de grupos de usuários o tempo médio de sessão. As barras são os grupos, o eixo x é o tempo médio e o eixo y é a quantidade de usuários. Por meio desse gráfico você consegue analisar como a maior parte dos seus usuários interagem com seu app."></div>
                    </div>
                {{/if}}

                <div class="col-md-11 shadow bg-white border rounded stats-box">
                    <div id="mapaDist" style="width:100%; height:600px;" data-hint="Mapa que mostra a quantidade de usuários em cada país."></div>
                </div>

                {{#if (is_equal usuarioLogado.nivel 'Avançado') }}
                    <div class="col-md-5 shadow bg-white border rounded stats-box">
                        <div id="heatMapAcessos" style="width:100%; height:600px;" data-hint="Mapa de calor que mostra sessões iniciadas a cada hora dos dias da semana (Quanto mais escuro, mais acessos). Por meio da análise desse gráfico você pode planejar quando é a melhor hora para dar promoções ou anúncios importantes para seus usuários."></div>
                    </div>
                {{/if}}

                {{#if (is_equal usuarioLogado.nivel 'Avançado') }}
                    <div class="col-md-5 shadow bg-white border rounded stats-box">
                        <div id="boxPlotDuracao" style="width:100%; height:600px;" data-hint="Box plot dos dados de tempo de sessão total dos usuários no app divididos por grupos de idades. A análise desse gráfico pode lhe fornecer uma ideia de como cada faixa etária dos seus usuários interagem com seu app."></div>
                    </div>
                {{/if}}
                
                <div class="col-md-6 shadow bg-white border rounded stats-box">
                    <div id="chartTransacoes" style="width:100%; height:600px;" data-hint="Gráfico de linhas que mostra os totais de transações feitas por mês. Importante sempre se atentar para os pontos de picos para poder analisar qual estratégia deu certo ou não."></div>
                </div>

                <div class="col-md-4 shadow bg-white border rounded stats-box">
                    <div id="colTransacoesValores" style="width:100%; height:600px;" data-hint="Gráfico de barras que mostra o valor total monetário por mês. Geralmente cresce de acordo com o gráfico anterior."></div>
                </div>

            </div>

            {{> _graficosIndex}}
            <script>
                let intro = introJs().setOptions({
                    'skipLabel': 'Pular tour',
                    'doneLabel': 'Concluir',
                    'nextLabel': 'Próximo >',
                    'prevLabel': '< Anterior',
                    'exitOnOverlayClick': false,
                    'showStepNumbers': false,
                    'scrollTo': 'element',
                    'overlayOpacity': 0.9
                });

                {{!-- {{#if (is_equal usuarioLogado.nivel 'Iniciante') }} --}}
                    {{#if usuarioNovo }}
                        intro.start();
                    {{/if}}
                {{!-- {{/if}} --}}

                document.getElementById('ver-tour').addEventListener('click', () => {
                    intro.start();
                });

                $(document).ready(function() {
                    $(".stats-slider").lightSlider({
                        item: 3,
                        slideMargin: 20,
                        autoWidth: false,
                        speed: 400, //ms'
                        auto: true,
                        loop: true,
                        slideEndAnimation: true,
                        pause: 10000,
                        enableTouch:true,
                        enableDrag:true,
                        pager: false,
                        adaptiveHeight:true,
                    });

                    {{!-- {{#if (is_equal usuarioLogado.nivel 'Iniciante') }} --}}
                        introJs().setOptions({
                            'hintButtonLabel': '',
                            'hintPosition': 'top-left',
                            'overlayOpacity': 1
                        }).addHints();
                    {{!-- {{/if}} --}}
                });
            </script>
        {{/unless}}
    </main>

{{> _footer}}