<%- include('../layout/_header'); %>

    <main role="main" class="container">

            <%if (message != '') { %>
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <%= message %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            <%}%>

        <h1>Dashboard</h1>

        <% if (!dados.num_usuarios.totais.length) { %>
            <p>A chave SDK para realizar a integração com o app é: <strong><%= appID %></strong>.</p>
            <p>Integre o SDK no seu app e atualize essa página quando tiver usado pelo menos uma vez seu app para ver os dados.</p>
        <% } else { %>
            <p>Total de usuários: <strong><%= dados.num_usuarios.totais.length %></strong></p>
            <p>Usuários ativos nas ultimas 24h <strong><%= dados.num_usuarios.dia.length %></strong></p>
            <p>Usuários ativos na última semana <strong><%= dados.num_usuarios.semana.length %></strong></p>
            <p>Usuários ativos no último mês <strong><%= dados.num_usuarios.mes.length %></strong></p>
            <p>Usuários ativos no último ano <strong><%= dados.num_usuarios.ano.length %></strong></p>
            <p>Total de usuários masculinos <strong><%= dados.num_usuarios.masculinos.length %></strong></p>
            <p>Total de usuários femininos <strong><%= dados.num_usuarios.totais.length - dados.num_usuarios.masculinos.length %></strong></p>
            <p>Tempo total de uso do app em segundos <strong><%= dados.tempo_total_sessoes[0].sum %></strong></p>
            <p>Tempo médio de uso do app por usuário <strong><%= dados.tempo_total_sessoes[0].sum / dados.num_usuarios.totais.length %></strong></p>
            <div id="chartUsuarios" style="width:100%; height:400px;"></div>
            <div id="pieResolucoes" style="width:100%; height:400px;"></div>
            <div id="barTempoSessao" style="width:100%; height:400px;"></div>
            <div id="histTempoSessao" style="width:100%; height:400px;"></div>
            <div id="colIdades" style="width:100%; height:400px;"></div>
            <div id="mapaDist" style="width:100%; height:400px;"></div>
            <script>
                Highcharts.setOptions({
                    lang: {
                        months: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                        shortMonths: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                        weekdays: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                        loading: ['Atualizando o gráfico...aguarde'],
                        contextButtonTitle: 'Exportar gráfico',
                        decimalPoint: ',',
                        thousandsSep: '.',
                        downloadJPEG: 'Baixar imagem JPEG',
                        downloadPDF: 'Baixar arquivo PDF',
                        downloadPNG: 'Baixar imagem PNG',
                        downloadSVG: 'Baixar vetor SVG',
                        printChart: 'Imprimir gráfico',
                        rangeSelectorFrom: 'De',
                        rangeSelectorTo: 'Para',
                        rangeSelectorZoom: 'Zoom',
                        resetZoom: 'Limpar Zoom',
                        resetZoomTitle: 'Voltar Zoom para nível 1:1',
                    }
                });

                var myLineChart = Highcharts.chart('chartUsuarios', {
                    chart: {
                        type: 'line'
                    },
                    title: {
                        text: 'Fluxo de usuários por mês'
                    },
                    yAxis: {
                        title: {
                            text: 'Número de usuarios'
                        }
                    },
                    xAxis: {
                        categories: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro']
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'middle'
                    },
                    series: [{
                        name: 'Usuários novos',
                        data: <%- JSON.stringify(dados.plot.novos) %>
                    }, {
                        name: 'Usuários desistentes',
                        data: <%- JSON.stringify(dados.plot.velhos) %>
                    }],
                    credits: {
                        enabled: false
                    }
                });
                
                var myPieChart = Highcharts.chart('pieResolucoes', {
                    chart: {
                        type: 'pie'
                    },
                    title: {
                        text: 'Distribuição de usuários por resolução de tela'
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: true,
                                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                                style: {
                                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                                }
                            }
                        }
                    },
                    series: [{
                        name: 'Usuários',
                        colorByPoint: true,
                        data: <%- JSON.stringify(dados.resolucoes) %>
                    }],
                    credits: {
                        enabled: false
                    }
                });

                var myBarChart = Highcharts.chart('barTempoSessao', {
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: 'Tempo médio de sessão dos usuários'
                    },
                    yAxis: {
                        title: {
                            text: 'Tempo em segundos'
                        }
                    },
                    xAxis: {
                        text: 'Usuários'
                    },
                    series: [{
                        name: 'Usuários',
                        data: <%- JSON.stringify(dados.bar.tempo_medio_sessao) %>
                    }],
                    credits: {
                        enabled: false
                    }
                });

                var myHistChart = Highcharts.chart('histTempoSessao', {
                    title: {
                        text: 'Histograma do tempo médio de sessão dos usuários'
                    },
                    yAxis: [{
                        title: { text: 'Tempo em segundos dos usuários individuais' }
                    }, {
                        title: { text: 'Número de usuários do histograma'},
                        opposite: true
                    }],
                    xAxis: [{
                        title: { text: 'Número de usuários individuais' }
                    }, {
                        title: { text: 'Tempo em segundos do histograma'},
                        opposite: true
                    }],
                    series: [{
                        name: 'Histograma',
                        type: 'histogram',
                        xAxis: 1,
                        yAxis: 1,
                        baseSeries: 's1',
                        zIndex: -1
                    }, {
                        name: 'Usuários individuais',
                        type: 'scatter',
                        data: <%- JSON.stringify(dados.bar.tempo_medio_sessao) %>,
                        id: 's1',
                        marker: {
                            radius: 1.1
                        }
                    }],
                    credits: {
                        enabled: false
                    }
                });

                var myColChart = Highcharts.chart('colIdades', {
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: 'Idade dos usuários'
                    },
                    yAxis: {
                        title: {
                            text: 'Quantidade de usuários'
                        }
                    },
                    xAxis: {
                        categories: <%- JSON.stringify(dados.idades.idadesArray) %>,
                        crosshair: true
                    },
                    series: [{
                        name: 'Usuários',
                        data: <%- JSON.stringify(dados.idades.quantidade) %>
                    }],
                    credits: {
                        enabled: false
                    }
                });

                var myMap = Highcharts.mapChart('mapaDist', {
                    chart: {
                        map: <%- JSON.stringify(dados.mapGeo) %>
                    },
                    title: {
                        text: 'Distribuição de usuários no mundo'
                    },
                    mapNavigation: {
                        enabled: true,
                        buttonOptions: {
                            verticalAlign: 'bottom'
                        }
                    },
                    colorAxis: {
                        tickPixelInterval: 100
                    },
                    series: [{
                        data: <%- JSON.stringify(dados.paises) %>,
                        keys: ['pais', 'value'],
                        joinBy:['hc-key', 'pais'],
                        name: 'Usuários',
                        states: {
                            hover: {
                                color: '#a4edba'
                            }
                        },
                        dataLabels: {
                            enabled: true,
                            format: '{point.properties.postal}'
                        }
                    }]
                });
            </script>
        <% } %>
    </main>

<%- include('../layout/_footer'); %>