{{> _header}}

    <main role="main" class="container">

        {{> _mensagens}}

        <h1 class="text-center" data-intro="Bem vindo! A seguir será apresentado as funções da dashboard">Dashboard</h1>

        {{#unless dados.stats.num_usuarios_totais }}
            <p>A chave SDK para realizar a integração com o app é: <strong>{{ appID }}</strong>.</p>
            <p>Integre o SDK no seu app e atualize essa página quando tiver usado pelo menos uma vez seu app para ver os dados.</p>
        {{else}}
            <nav class="nav nav-pills nav-fill justify-content-around mt-5">
                <a class="nav-link active" href="/dashboard">Dados gerais</a>
                <a class="nav-link" href="/dashboard/crashes">Crashes</a>
                <a class="nav-link" href="/dashboard/usuarios">Usuarios</a>
            </nav>

            <hr>

            <div class="row justify-content-around" data-intro="Aqui é mostrado um slide com os dados rápidos e importantes para seu app">
                <div class="col-md-11">
                    <ul class="stats-slider">
                        <li>
                            <div class="shadow bg-white border rounded stats-box text-center">
                                <p>Total usuários</p>
                                <p><strong>{{ dados.stats.num_usuarios_totais }}</strong></p>
                            </div>
                        </li>
                        <li>
                            <div class="shadow bg-white border rounded stats-box text-center">
                                <p>Tempo médio de sessão</p>
                                <p><strong>{{ dados.stats.media_sessao }}s</strong></p>
                            </div>
                        </li>
                        <li>
                            <div class="shadow bg-white border rounded stats-box text-center">
                                <p>Total monetário ganho</p>
                                <p><strong>R$ {{ dados.stats.total_gasto }}</strong></p>
                            </div>
                        </li>
                        <li>
                            <div class="shadow bg-white border rounded stats-box text-center">
                                <p>Total de travamentos</p>
                                <p><strong>{{ dados.stats.num_crashes }}</strong></p>
                            </div>
                        </li>
                        <li>
                            <div class="shadow bg-white border rounded stats-box text-center">
                                <p>Total de sessões</p>
                                <p><strong>{{ dados.stats.num_total_sessoes }}</strong></p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            
            <div class="row justify-content-around">
                <div class="shadow bg-white border rounded col-md-5 stats-box" data-intro="Aqui são mostrado dados sobre os usuários que utilizam o app">
                    <p>Usuários ativos nas ultimas 24h <strong>{{ dados.stats.num_usuarios_dia }}</strong></p>
                    <div class="progress">
                        <div class="progress-bar" style="width: {{ dados.porcentagens.num_usuarios_dia }}%" role="progressbar" aria-valuenow="{{ dados.stats.num_usuarios_dia }}" aria-valuemin="0" aria-valuemax="{{ dados.stats.num_usuarios_totais }}"></div>
                    </div>
                    <p>Usuários ativos na última semana <strong>{{ dados.stats.num_usuarios_semana }}</strong></p>
                    <div class="progress">
                        <div class="progress-bar" style="width: {{ dados.porcentagens.num_usuarios_semana }}%" role="progressbar" aria-valuenow="{{ dados.stats.num_usuarios_semana }}" aria-valuemin="0" aria-valuemax="{{ dados.stats.num_usuarios_totais }}"></div>
                    </div>
                    <p>Usuários ativos no último mês <strong>{{ dados.stats.num_usuarios_mes }}</strong></p>
                    <div class="progress">
                        <div class="progress-bar" style="width: {{ dados.porcentagens.num_usuarios_mes }}%" role="progressbar" aria-valuenow="{{ dados.stats.num_usuarios_mes }}" aria-valuemin="0" aria-valuemax="{{ dados.stats.num_usuarios_totais }}"></div>
                    </div>
                    <p>Usuários ativos no último ano <strong>{{ dados.stats.num_usuarios_ano }}</strong></p>
                    <div class="progress">
                        <div class="progress-bar" style="width: {{ dados.porcentagens.num_usuarios_ano }}%" role="progressbar" aria-valuenow="{{ dados.stats.num_usuarios_ano }}" aria-valuemin="0" aria-valuemax="{{ dados.stats.num_usuarios_totais }}"></div>
                    </div>
                    <p>Total de usuários masculinos <strong>{{ dados.stats.num_usuarios_masculinos }}</strong></p>
                    <div class="progress">
                        <div class="progress-bar" style="width: {{ dados.porcentagens.num_usuarios_masculinos }}%" role="progressbar" aria-valuenow="{{ dados.stats.num_usuarios_masculinos }}" aria-valuemin="0" aria-valuemax="{{ dados.stats.num_usuarios_totais }}"></div>
                    </div>
                    <p>Total de usuários femininos <strong>{{ dados.stats.num_usuarios_femininos }}</strong></p>
                    <div class="progress">
                        <div class="progress-bar" style="width: {{ dados.porcentagens.num_usuarios_femininos }}%" role="progressbar" aria-valuenow="{{ dados.stats.num_usuarios_femininos }}" aria-valuemin="0" aria-valuemax="{{ dados.stats.num_usuarios_totais }}"></div>
                    </div>
                </div>

                <div class="shadow bg-white border rounded col-md-5 stats-box" data-intro="Aqui são mostrado mais alguns dados, incluindo dados monetários (se tiver)">
                    <p>Tempo total de uso do app em segundos <strong>{{ dados.stats.tempo_total_sessoes }}s</strong></p>
                    <p>Tempo médio de uso do app por usuário <strong>{{ dados.stats.media_tempo_total }}s</strong></p>
                    <p>Variância do tempo total de uso do app <strong>{{ dados.stats.variancia_tempo_total }}s</strong></p>
                    <p>Desvio padrão do tempo total de uso do app <strong>{{ dados.stats.desvio_tempo_total }}s</strong></p>
                    <p>Média de gastos por usuários <strong>R$ {{ dados.stats.media_gasto_total }}</strong></p>
                    <p>Variância de gastos por usuários <strong>R$ {{ dados.stats.variancia_gasto_total }}</strong></p>
                    <p>Desvio padrão de gastos por usuários <strong>R$ {{ dados.stats.desvio_gasto_total }}</strong></p>
                </div>
            </div>

            <div class="row justify-content-around" data-intro="Aqui temos os gráficos para melhor visualizar as informações obtidas. No canto superior direito existe um menu com opções para imprimir ou baixar em uma variedade de formatos o gráfico. No canto superior esquerdo existe um botão com dicas e explicações para cada gráfico" data-scrollTo="tooltip">
                <div class="col-md-11 shadow bg-white border rounded stats-box">
                    <div id="chartUsuarios" style="width:100%; height:400px;" data-hint="Gráfico de linhas que mostra a quantidade de usuários que foram visto pela primeira vez e pela última vez nos meses"></div>
                    <div id="pieResolucoes" style="width:100%; height:400px;" data-hint="Gráfico de pizza que mostra a quantidade de usuários por resolução da tela do dispositivo que utiliza o app"></div>
                    <div id="barTempoSessao" style="width:100%; height:400px;" data-hint="Gráfico de barras que mostra  o tempo médio de sessão de cada usuário"></div>
                    <div id="histTempoSessao" style="width:100%; height:400px;" data-hint="Histograma que mostra por meio de grupos de usuários o tempo médio de sessão. Os pontos são usuários individuais, x é o seu número e y o tempo médio de sessão. As barras são os grupos, x é o tempo médio e y é a quantidade de usuários"></div>
                    <div id="colIdades" style="width:100%; height:400px;" data-hint="Gráfico de barras que mostra a quantidade de usuários por idade"></div>
                    <div id="mapaDist" style="width:100%; height:400px;" data-hint="Mapa que mostra a quantidade de usuários em cada país"></div>
                    <div id="pieViewsAcessos" style="width:100%; height:400px;" data-hint="Gráfico de pizza que mostrada a quantidade de acessos em cada tela do seu app (são considerados múltiplos acessos por usuário)"></div>
                    <div id="heatMapAcessos" style="width:100%; height:600px;" data-hint="Mapa de calor que mostra sessões iniciadas a cada hora dos dias da semana. Quanto mais escuro, mais acessos)."></div>
                    <div id="boxPlotDuracao" style="width:100%; height:600px;" data-hint="Box plot dos dados de tempo de sessão total dos usuários no app."></div>
                </div>
            </div>

            {{> _graficosIndex}}
            <script>
                let intro = introJs().setOptions({
                    'skipLabel': 'Pular tour',
                    'doneLabel': 'Concluir',
                    'nextLabel': 'Próximo >',
                    'prevLabel': '< Anterior',
                    'exitOnOverlayClick': false,
                    'showStepNumbers': false,
                    'scrollTo': 'element',
                    'overlayOpacity': 0.9
                });

                {{#if (is_equal usuarioLogado.nivel 'Iniciante') }}
                    {{#if usuarioNovo }}
                        intro.start();
                    {{/if}}
                {{/if}}

                document.getElementById('ver-tour').addEventListener('click', () => {
                    intro.start();
                });

                $(document).ready(function() {
                    $(".stats-slider").lightSlider({
                        item: 3,
                        slideMargin: 20,
                        autoWidth: false,
                        speed: 400, //ms'
                        auto: true,
                        loop: true,
                        slideEndAnimation: true,
                        pause: 10000,
                        enableTouch:true,
                        enableDrag:true,
                        pager: false,
                        adaptiveHeight:true,
                    });

                    introJs().setOptions({
                        'hintButtonLabel': '',
                        'hintPosition': 'top-left'
                    }).addHints();
                });
            </script>
        {{/unless}}
    </main>

{{> _footer}}