<%- include('../layout/_header'); %>

    <main role="main" class="container">

            <%if (message != '') { %>
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <%= message %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            <%}%>

        <h1>Dashboard</h1>

        <% if (!dados.num_usuarios.totais.length) { %>
            <p>A chave SDK para realizar a integração com o app é: <strong><%= appID %></strong>.</p>
            <p>Integre o SDK no seu app e atualize essa página quando tiver usado pelo menos uma vez seu app para ver os dados.</p>
        <% } else { %>
            <p>Total de usuários: <strong><%= dados.num_usuarios.totais.length %></strong></p>
            <p>Usuários ativos nas ultimas 24h <strong><%= dados.num_usuarios.dia.length %></strong></p>
            <p>Usuários ativos na última semana <strong><%= dados.num_usuarios.semana.length %></strong></p>
            <p>Usuários ativos no último mês <strong><%= dados.num_usuarios.mes.length %></strong></p>
            <p>Usuários ativos no último ano <strong><%= dados.num_usuarios.ano.length %></strong></p>
            <p>Total de usuários masculinos <strong><%= dados.num_usuarios.masculinos.length %></strong></p>
            <p>Total de usuários femininos <strong><%= dados.num_usuarios.totais.length - dados.num_usuarios.masculinos.length %></strong></p>
            <p>Tempo total de uso do app em segundos <strong><%= dados.tempo_total_sessoes[0].sum %></strong></p>
            <p>Tempo médio de uso do app por usuário <strong><%= dados.tempo_total_sessoes[0].sum / dados.num_usuarios.totais.length %></strong></p>
            <canvas id="chartUsuarios" width="100" height="50"></canvas>
            <canvas id="pieResolucoes" width="100" height="50"></canvas>
            <script>
                var ctx = document.getElementById("chartUsuarios").getContext('2d');
                var chart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: ["Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho", "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro"],
                        datasets: [{
                            label: "Usuários novos por mês",
                            backgroundColor: 'rgba(255, 99, 132, 0)',
                            borderColor: 'rgb(255, 99, 132)',
                            lineTension: 0,
                            data: <%- JSON.stringify(dados.plot.novos) %>,
                        },
                        {
                            label: "Usuários desistentes por mês",
                            backgroundColor: 'rgba(75, 192, 192, 0)',
                            borderColor: 'rgb(75, 192, 192)',
                            lineTension: 0,
                            data: <%- JSON.stringify(dados.plot.velhos) %>,
                        }]
                    },
                    options: {}
                });

                var cty = document.getElementById('pieResolucoes').getContext('2d');
                var myPieChart = new Chart(cty,{
                    type: 'pie',
                    data: {
                        datasets: [{
                            data: <%- JSON.stringify(dados.resolucoes.valores) %>,
                            backgroundColor: [
                                'rgb(255, 99, 132)',
                                'rgb(255, 205, 86)',
                                'rgb(54, 162, 235)',
                                'rgb(230, 100, 70)',
                                'rgb(54, 20, 235)',
                                'rgb(154, 162, 100)',
                                'rgb(90, 90, 235)',
                                'rgb(54, 162, 20)'
                            ]
                        }],
                        labels: <%- JSON.stringify(dados.resolucoes.chaves) %>
                    },
                    options: {}
                });
            </script>
        <% } %>
    </main>

<%- include('../layout/_footer'); %>