{{> _header}}

    <main role="main" class="container">
        <h1 class="text-center" data-intro="Essa página fornece informações mais aprofundadas dos usuários do seu app. Essas informações podem servir para auxiliar na análise dos travamentos servindo como complemento ou apenas dar uma ideia de quem são seus usuários.">Usuários</h1>

        <nav class="nav nav-pills nav-fill justify-content-around mt-5">
            <a class="nav-link" href="/dashboard">Dados gerais</a>
            <a class="nav-link" href="/dashboard/crashes">Travamentos</a>
            <a class="nav-link active" href="/dashboard/usuarios">Usuarios</a>
        </nav>

        <hr>

        <div class="row justify-content-around" data-intro="Aqui são mostrado tabelas que fornecem mais informações sobre cada usuário que já utilizou seu app. Por questão de privacidade com seus usuários, usamos um ID gerado pela ferramenta para identificar seus usuários." data-scrollTo="tooltip">
            <div class="col-md-11 shadow bg-white border rounded stats-box">
                <h2 class="text-center">Tabela de usuários do app</h2>

                <center><div class="lds-dual-ring" id="ring-loading1"></div></center>
                <table id="usuarios" style="display: none;" class="table table-striped responsive table-bordered" width="100%" data-hint="Cada linha é um usuário, O ID é o identificador usado pela nossa ferramenta para referenciar a esse usuário. Um relatório de todas as informações está disponível se clicar no botão + ao lado do ID.">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Sexo</th>
                            <th>Ano de nascimento</th>
                            <th>País</th>
                            <th>Cidade</th>
                            <th>Dispositivo</th>
                            <th>Resolução da tela</th>
                            <th>DPI da tela</th>
                            <th>Operadora</th>
                            <th>OS</th>
                            <th>Versão OS</th>
                            <th>Versão app</th>
                            <th>Visto pela primeira vez</th>
                            <th>Visto por último</th>
                            <th>Número de sessões</th>
                            <th>Duração da última sessão</th>
                            <th>Duração total das sessões</th>
                            <th>Última view visitada</th>
                            <th>Data da última compra</th>
                            <th>Total da última compra</th>
                            <th>Total gasto</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>Sexo</th>
                            <th>Ano de nascimento</th>
                            <th>País</th>
                            <th>Cidade</th>
                            <th>Dispositivo</th>
                            <th>Resolução da tela</th>
                            <th>DPI da tela</th>
                            <th>Operadora</th>
                            <th>OS</th>
                            <th>Versão OS</th>
                            <th>Versão app</th>
                            <th>Visto pela primeira vez</th>
                            <th>Visto por último</th>
                            <th>Número de sessões</th>
                            <th>Duração da última sessão</th>
                            <th>Duração total das sessões</th>
                            <th>Última view visitada</th>
                            <th>Data da última compra</th>
                            <th>Total da última compra</th>
                            <th>Total gasto</th>
                        </tr>
                    </tfoot>
                </table>

                <hr>

                <h2 class="text-center">Tabela de acesso de views por usuários</h2>

                <center><div class="lds-dual-ring" id="ring-loading2"></div></center>
                <table id="views" style="display: none;" class="table table-striped responsive table-bordered" width="100%" data-hint="Nessa tabela existe duas colunas para cada tela cadastrada do seu app, a primeira coluna mostra o número de vezes que ela foi acessada pelo usuário e a segunda a data do último acesso.">
                    <thead>
                        <tr>
                            <th>ID do Usuário</th>
                            {{#each aplicativo.views}}
                                <th>{{ this }} - quantidade</th>
                                <th>{{ this }} - data da última visita</th>
                            {{/each}}
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot>
                        <tr>
                            <th>ID do Usuário</th>
                            {{#each aplicativo.views}}
                                <th>{{ this }} - quantidade</th>
                                <th>{{ this }} - data da última visita</th>
                            {{/each}}
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </main>

    <script>
        let intro = introJs().setOptions({
            'skipLabel': 'Pular tour',
            'doneLabel': 'Concluir',
            'nextLabel': 'Próximo >',
            'prevLabel': '< Anterior',
            'exitOnOverlayClick': false,
            'showStepNumbers': false,
            'scrollTo': 'element',
            'overlayOpacity': 0.9
        });

        document.getElementById('ver-tour').addEventListener('click', () => {
            intro.start();
        });

        $(document).ready(function() {
            {{#if usuarioNovo }}
                intro.start();
            {{/if}}

            setTimeout(function() {
            $('#usuarios').DataTable( {
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Portuguese-Brasil.json"
                },
                "drawCallback": function( settings ) {
                    $('#ring-loading1').hide();
                    $('#usuarios').show();
                },
                "data": {{{json users}}},
                responsive: {
                    details: {
                        display: $.fn.dataTable.Responsive.display.modal( {
                            header: function ( row ) {
                                var data = row.data();
                                return 'Detalhes do usuário';
                            }
                        } ),
                        renderer: $.fn.dataTable.Responsive.renderer.tableAll( {
                            tableClass: 'table'
                        } )
                    }
                },
                "columns" : [
                    { "data" : "_id" },
                    { "data" : "sexo" },
                    { "data" : "ano_nascimento" },
                    { "data" : "pais" },
                    { "data" : "cidade" },
                    { "data" : "dispositivo" },
                    { "data" : "resolucao_tela" },
                    { "data" : "densidade_tela" },
                    { "data" : "operadora" },
                    { "data" : "os" },
                    { "data" : "versao_os" },
                    { "data" : "versao_app" },
                    { 
                        "data" : "visto_primeiro",
                        "render": (data) => {
                            var date = new Date(data);
                            var month = date.getMonth() + 1;
                            return (date.getDate() >= 10 ? date.getDate() : "0" + date.getDate()) + "/" + (month >= 10 ? month : "0" + month) + "/" + date.getFullYear();
                        }
                    },
                    { 
                        "data" : "visto_ultimo",
                        "render": (data) => {
                            var date = new Date(data);
                            var month = date.getMonth() + 1;
                            return (date.getDate() >= 10 ? date.getDate() : "0" + date.getDate()) + "/" + (month >= 10 ? month : "0" + month) + "/" + date.getFullYear();
                        }
                    },
                    { "data" : "numero_sessoes" },
                    { 
                        "data" : "duracao_sessao",
                        "render": (data) => { return data + "s"; }
                    },
                    { 
                        "data" : "total_duracao_sessao",
                        "render": (data) => { return data + "s"; }
                    },
                    { "data" : "ultima_view" },
                    { 
                        "data" : "ultima_compra",
                        "render": (data) => {
                            var date = new Date(data);
                            var month = date.getMonth() + 1;
                            return (date.getDate() >= 10 ? date.getDate() : "0" + date.getDate()) + "/" + (month >= 10 ? month : "0" + month) + "/" + date.getFullYear();
                        }
                    },
                    { 
                        "data" : "total_ultima_compra",
                        "render": (data) => { return "R$ " + data; }
                    },
                    { 
                        "data" : "total_gasto",
                        "render": (data) => { return "R$ " + data; }
                    }
                ]
            });

            $('#views').DataTable( {
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Portuguese-Brasil.json"
                },
                "data": {{{json views}}},
                "drawCallback": function( settings ) {
                    $('#ring-loading2').hide();
                    $('#views').show();
                },
                responsive: {
                    details: {
                        display: $.fn.dataTable.Responsive.display.modal( {
                            header: function ( row ) {
                                var data = row.data();
                                return 'Detalhes do usuário';
                            }
                        } ),
                        renderer: $.fn.dataTable.Responsive.renderer.tableAll( {
                            tableClass: 'table'
                        } )
                    }
                },
                "columns" : [
                    { "data" : "id_usuario" },
                    {{#each aplicativo.views}}
                        { "data" : "{{ this }}.quantidade" },
                        { 
                            "data" : "{{ this }}.data",
                            "render": (data) => {
                                var date = new Date(data);
                                var month = date.getMonth() + 1;
                                return (date.getDate() >= 10 ? date.getDate() : "0" + date.getDate()) + "/" + (month >= 10 ? month : "0" + month) + "/" + date.getFullYear();
                            }
                        },
                    {{/each}}
                ],
                "initComplete": function(settings, json) {
                    introJs().setOptions({
                        'hintButtonLabel': '',
                        'hintPosition': 'top-left'
                    }).addHints();
                }
            });
            }, 50);
        });
    </script>

{{> _footer}}