<script>
    Highcharts.setOptions({
        lang: {
            months: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
            shortMonths: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
            weekdays: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
            loading: ['Atualizando o gráfico...aguarde'],
            contextButtonTitle: 'Exportar gráfico',
            decimalPoint: ',',
            thousandsSep: '.',
            downloadJPEG: 'Baixar imagem JPEG',
            downloadPDF: 'Baixar arquivo PDF',
            downloadPNG: 'Baixar imagem PNG',
            downloadSVG: 'Baixar vetor SVG',
            printChart: 'Imprimir gráfico',
            rangeSelectorFrom: 'De',
            rangeSelectorTo: 'Para',
            rangeSelectorZoom: 'Zoom',
            resetZoom: 'Limpar Zoom',
            resetZoomTitle: 'Voltar Zoom para nível 1:1',
        }
    });

    Highcharts.chart('chartUsuarios', {
        chart: {
            type: 'line'
        },
        title: {
            text: 'Fluxo de usuários por mês'
        },
        yAxis: {
            title: {
                text: 'Número de usuarios'
            }
        },
        xAxis: {
            categories: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro']
        },
        legend: {
            align: 'center',
            verticalAlign: 'top'
        },
        series: [{
            name: 'Usuários novos',
            data: {{{json dados.graphs.usuarios_mes.novos }}}
        }, {
            name: 'Usuários desistentes',
            data: {{{json dados.graphs.usuarios_mes.velhos }}}
        }],
        credits: {
            enabled: false
        }
    });
    
    Highcharts.chart('pieResolucoes', {
        chart: {
            type: 'pie'
        },
        title: {
            text: 'Distribuição de usuários por resolução de tela'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: false
                },
                showInLegend: true
            }
        },
        legend: {
            align: 'center',
            verticalAlign: 'top'
        },
        series: [{
            name: 'Usuários',
            colorByPoint: true,
            data: {{{json dados.graphs.resolucoes }}}
        }],
        credits: {
            enabled: false
        }
    });

    Highcharts.chart('colIdades', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Idade dos usuários'
        },
        yAxis: {
            title: {
                text: 'Quantidade de usuários'
            }
        },
        xAxis: {
            categories: {{{json dados.graphs.idades.idadesArray }}},
            crosshair: true
        },
        legend: {
            align: 'center',
            verticalAlign: 'top'
        },
        series: [{
            name: 'Usuários',
            data: {{{json dados.graphs.idades.quantidade }}}
        }],
        credits: {
            enabled: false
        }
    });

    Highcharts.mapChart('mapaDist', {
        chart: {
            map: {{{json dados.mapGeo }}}
        },
        title: {
            text: 'Distribuição de usuários no mundo'
        },
        mapNavigation: {
            enabled: true,
            buttonOptions: {
                verticalAlign: 'bottom'
            }
        },
        colorAxis: {
            tickPixelInterval: 100
        },
        series: [{
            data: {{{json dados.graphs.paises }}},
            keys: ['pais', 'value'],
            joinBy:['hc-key', 'pais'],
            name: 'Usuários',
            states: {
                hover: {
                    color: '#a4edba'
                }
            },
            dataLabels: {
                enabled: true,
                format: '{point.properties.postal}'
            }
        }],
        credits: {
            enabled: false
        }
    });

    Highcharts.chart('pieViewsAcessos', {
        chart: {
            type: 'pie'
        },
        title: {
            text: 'Distribuição de acessos de telas'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: false
                },
                showInLegend: true
            }
        },
        legend: {
            align: 'center',
            verticalAlign: 'top'
        },
        series: [{
            name: 'Usuários',
            colorByPoint: true,
            data: {{{json dados.graphs.views }}}
        }],
        credits: {
            enabled: false
        }
    });

    {{#if (is_equal usuarioLogado.nivel 'Avançado') }}

        Highcharts.chart('histTempoSessao', {
            title: {
                text: 'Histograma do tempo médio de sessão dos usuários'
            },
            yAxis: [{
                title: { text: 'Número de usuários' }
            }, {
                title: { text: ''},
                opposite: true
            }],
            xAxis: [{
                title: { text: 'Tempo em segundos do histograma' }
            }, {
                title: { text: ''},
                opposite: true
            }],
            legend: {
                align: 'center',
                verticalAlign: 'top'
            },
            series: [{
                name: 'Histograma',
                type: 'histogram',
                xAxis: 0,
                yAxis: 0,
                baseSeries: 's1',
                zIndex: -1
            }, {
                name: 'Usuários individuais',
                type: 'scatter',
                visible: false,
                xAxis: 1,
                yAxis: 1,
                data: {{{json dados.graphs.sessao_media_usuario }}},
                id: 's1',
                marker: {
                    radius: 1.1
                }
            }],
            credits: {
                enabled: false
            }
        });

        Highcharts.chart('heatMapAcessos', {
            chart: {
                type: 'heatmap',
                marginTop: 40,
                marginBottom: 80,
                plotBorderWidth: 1
            },
            title: {
                text: 'Acessos por hora do dia'
            },
            xAxis: {
                categories: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado']
            },

            yAxis: {
                categories: ['00:00', '01:00', '02:00', '03:00', '04:00', '05:00', '06:00', '07:00', '08:00', '09:00', '10:00', '11:00', '12:00',
                            '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00', '21:00', '22:00', '23:00'],
                title: null
            },
            colorAxis: {
                min: 0,
                minColor: '#FFFFFF',
                maxColor: Highcharts.getOptions().colors[0]
            },
            legend: {
                align: 'right',
                layout: 'vertical',
                margin: 0,
                verticalAlign: 'top',
                y: 25,
                symbolHeight: 280
            },
            tooltip: {
                formatter: function () {
                    return '<b>' +this.point.value+ '</b> sessões no(a) <b>' + this.series.xAxis.categories[this.point.x] + '</b> às <b>' +
                        this.series.yAxis.categories[this.point.y] + '</b>';
                }
            },
            series: [{
                name: 'Sessões',
                borderWidth: 1,
                data: {{json dados.graphs.sessoes_por_hora_dia }},
                dataLabels: {
                    enabled: false,
                    color: '#000000'
                }
            }],
            credits: {
                enabled: false
            }
        });

        Highcharts.chart('boxPlotDuracao', {
            chart: {
                type: 'boxplot'
            },
            tooltip: {
                pointFormat: '<span style="color:{point.color}">●</span> <b> {series.name}</b><br/>Máximo: {point.high}<br/>Quartil superior: {point.q3}<br/>Mediana: {point.median}<br/>Quartil inferior: {point.q1}<br/>Mínimo: {point.low}<br/>'
            },
            title: {
                text: 'Boxplot de duração de sessão'
            },
            legend: {
                enabled: false
            },
            xAxis: {
                categories: ['0 - 20', '20 - 30', '30 - 40', '40 - 50', '50+'],
                title: {
                    text: 'Idade de usuários'
                }
            },
            yAxis: {
                title: {
                    text: 'Tempo em segundos'
                }
            },
            series: [{
                name: 'Duração de sessões',
                data: [
                    {{json dados.graphs.boxPlotDuracao.array1}},
                    {{json dados.graphs.boxPlotDuracao.array2}},
                    {{json dados.graphs.boxPlotDuracao.array3}},
                    {{json dados.graphs.boxPlotDuracao.array4}},
                    {{json dados.graphs.boxPlotDuracao.array5}}
                ],
                tooltip: {
                    headerFormat: '<em>Faixa de idade {point.key}</em><br/>'
                }
            }],
            credits: {
                enabled: false
            }
        });
    {{/if}}
</script>