<%- include('../layout/_header'); %>
    <main role="main" class="container">
        <div class="card bg-light mb-3 mx-auto" style="max-width: 30rem; margin-top: 2rem;">
        <div class="card-header text-center">
            <h1>Editar perfil</h1>
        </div>
        <div class="card-body">
            <form action="/usuarios/<%= usuario._id %>?_method=PUT" method="POST">
                <%if(validationErrors.length > 0) { %>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <ul>
                            <% for(var i=0; i<validationErrors.length; i++) {%>
                                <li><%=validationErrors[i].msg%></li>
                            <% } %>
                        </ul>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                <%}%>

                <div class="form-group">
                    <label for="nome">Nome</label>
                    <input type="text" name="nome" id="nome" class="form-control" value="<%= usuario.local.nome %>" required autofocus>
                </div>
                
                <div class="form-group">
                    <label for="app">Aplicativo padrão</label>
                    <select name="app" id="app" class="form-control" required>
                        <option value="" disabled>Selecione o app padrão</option>
                        <% apps.forEach((app) => { %>
                            <option value="<%= app._id %>" <%= usuario.app == app._id ? 'selected' : '' %>><%= app.nome %></option>
                        <% }); %>
                    </select>
                </div>

                <input type="submit" class="btn btn-primary" value="Alterar">
            </form>
        </div>
    </main>
<%- include('../layout/_footer'); %>